controllerManager:
  manager:
    args:
      - --leader-elect
      - --diagnostics-address=:8443
      - --insecure-diagnostics=false
      - --feature-gates=MachinePool=true,ClusterResourceSet=true,ClusterTopology=false,RuntimeSDK=false,MachineSetPreflightChecks=true,MachineWaitForVolumeDetachConsiderVolumeAttachments=true,PriorityQueue=false
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      privileged: false
      runAsGroup: 65532
      runAsUser: 65532
    image:
      repository: olcne/cluster-api-controller
      tag: v1.10.8
    imagePullPolicy: IfNotPresent
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  replicas: 1
kubernetesClusterDomain: cluster.local
legacyControlPlaneAnnotation: false
manager:
  serviceAccount:
    annotations: {}
webhookService:
  ports:
    - port: 443
      targetPort: webhook-server
  type: ClusterIP
proxy:
  httpsProxy:
  httpProxy:
  noProxy:
kubeadmControlPlane:
  name: control.local
